<h1>Retrocade's Home</h1>


<div class="container-fluid">
<% if @latest_games.size > 0 %>
      <%= render 'layouts/latest_games_list' %>
<% end %>
  <% if @best_voted_games.size > 0 %>
      <%= render 'layouts/best_voted_games_list' %>
  <% end %>
  <% if @most_voted_games.size > 0 %>
      <%= render 'layouts/most_voted_games_list' %>
  <% end %>
  <% if @most_discussed_games.size > 0 %>
      <%= render 'layouts/most_discussed_games_list' %>
  <% end %>
</div>