<h1>Browse Games</h1>

<ul>To Do:
  <li>Search by (Name,Tags,Vote)</li>
  <li>Order by (Alphabet,Vote,Date)</li>
  <li>...</li>
</ul>


<% if @games.size > 0 %>
    <div class="container-fluid">
      <div class="row">
<% @games.each do |g| %>
    <div class="col-md-1">
      <table>
        <tr><td><%= g.name %></td></tr>
        <tr><td>
        <% unless g.game_images.nil? or g.game_images.size == 0 %>
            <%= link_to (image_tag g.game_images[0].image_url(:thumb) ), play_game_path(g) %>
        <% end %>
      </td></tr>
        <tr><td>
          <% if current_user == g.user %>
             <%= link_to "Edit", edit_game_path(g) %>
          <% end %>
        </td></tr>
      </table>
    </div>
<% end %>
    </div>
</div>
<% end %>