// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#play_container {
  text-align: center;
}
.todo {
  text-align: left;
}



.rating {
  float:center;
  width: 70px;
  margin: 0 auto;
}


/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating legend {
  font-size:8pt;
  margin-bottom: 0px;
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}
.rating:not(:checked) > label {
  font-size:100%;
}

.rating:not(:checked) > label:before {
  content: '★ ';
}

.rating > input:checked ~ label {
  color: #f70;
  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
  text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}

.static_rating_div{
  width: 70px;
  margin: 0 auto;
}

.static_rating {
  //float:left;
  width: 70px;
  margin: 0 auto;
  font-size:100%;
}


/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.static_rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.static_rating legend {
  font-size:8pt;
  margin-bottom: 0px;
}

.static_rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:100%;
  line-height:1.0;
  color:#ddd;
  text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}
.static_rating:not(:checked) > label {
  font-size:100%;
}

.static_rating:not(:checked) > label:before {
  content: '★ ';
}

.static_rating > input:checked ~ label {
  color: #f70;
  text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}



.static_rating > label:active {
  position:relative;
  top:2px;
  left:2px;
}


.detailBox {
  width:640px;
  //border:1px solid #bbb;
  margin:0 auto;
}
.titleBox {
  background-color:#fdfdfd;
  padding:10px;
}
.titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.commentBox {
  padding:10px;
  border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
  width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
  width:80%;
}
.commentBox .form-group:nth-child(3), .actionBox .form-group:nth-child(3) {
  width:18%;
}
.actionBox .form-group * {
  width:100%;
}
.taskDescription {
  margin-top: 10px;
}
.commentList {
  padding:0;
  list-style:none;
  max-height:200px;
  overflow:auto;
}
.commentList li {
  margin:0;
  margin-top:10px;
}
.commentList li > div {
  display:table-cell;
}
.commenterImage {
  width:30px;
  margin-right:5px;
  height:100%;
  float:left;
}
.commenterImage img {
  width:100%;
  border-radius:50%;
}
.commentText p {
  text-align: left;
  margin:0;
}
.sub-text {
  color:#aaa;
  font-family:verdana;
  font-size:11px;
}
.actionBox {
  border-top:1px dotted #bbb;
  padding:10px;
}

#highscores_section {
  width: 300px;
  top: 100px;
  right: 0px;
  position: fixed;
  overflow-wrap: normal;
  opacity: 0.6;
}

.show_highscores {
  position: relative;
  right:50px;
  top: 10px;
  float: right;
}
.hide_highscores {
  position: absolute;
  left:0px;
  top: 10px;
  float: left;
}

.rotate-highscores-text {
  position: absolute;
  top: 80px;
  right: 0px;
  display: block;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  filter: none; /*Mandatory for IE9 to show the vertical text correctly*/
}